

.home-banner {
  @media screen and (max-width: 850px) {
      background-image: url(../../../images/banners/home.jpg);
      background-size: cover;
  }
}

.banner-text-block {
  opacity: 0;
  transform: translate3d(0,50px,0);
  animation-name: riseAndShine;
  animation-duration: .75s;
  animation-delay: .25s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.home .services {
  background-image: url(../../../images/banners/homepage_services_section.jpg);
  background-size: cover;
}

svg.skyline {
  margin-bottom: -.5rem;
  //fill: blue;

  #Windows rect, #Windows path {
    animation-name: twinkle;
    animation-direction: alternate;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;

  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(3, 1fr);
  }
}


@keyframes twinkle {
  from {fill: #fff;}
  to {fill: #f37121;}
}

@keyframes riseAndShine {
  from {opacity: 0; transform: translate3d(0,50px,0);}
  to {opacity: 1; transform: translate3d(0,0,0);}
}