.home .main-nav {
@apply .bg-navy-opq;
}

.main-nav.show-subnav {
  @apply bg-navy;
}

.main-nav, .home .main-nav.scrolled {
@apply .bg-navy;
}

.service-nav-outer {
  top: 95%;
  left: 50%;
  transform: translate3d(-50%, -15px, 0);
  transition: .3s;
  transform-origin: top center;
  will-change: opacity;
  opacity: 0;
  visibility: hidden;

}

.services-link:hover .service-nav-outer {
  transform: translate3d(-50%, 0, 0);
  opacity: 1;
  visibility: visible;
}

.service-nav-outer > div {

}

.service-nav-outer > div::before {
  content: '';
  width: 16px;
  height: 16px;
  transform: translateX(-50%) rotate(45deg);
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -8px;
  @apply .bg-navy;

  @media screen and (max-width: 800px) {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .main-nav .subnav {
    transform: translate3d(-100%,0,0);
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem 0;
    top: 3.75rem;
    left: 0;
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    @apply .bg-navy;

    & > * {
      @apply .py-4;
    }
  }

  .main-nav.show-subnav .subnav {
    transform: translate3d(0,0,0);
  }

  .services-link:hover .service-nav-outer {
    transform: none;
  }

  .subnav .service-nav-outer {

      display: block;
      position: static;
      transform: none;
      visibility: visible;
      opacity: 1;
      padding-bottom: 1rem;
      padding-top: 3rem;

      & > div {
        @apply .shadow-none;
      }




    a {
      color: white;
      border-bottom: none;
      padding: .25rem 0;
    }

    svg {
      display: none;
    }
  }
}